@{
    ViewData["Title"] = "Sửa mặt hàng";
    Product product = ViewBag.product;
    Category[] categories = ViewBag.CategoryList;
}
<h1>@ViewData["Title"]</h1>

@if (product == null)
{
    <p>Mặt hàng không tồn taị </p>
}
else
{
    <form class="row" method="post" action="EditProduct?ProductCode=@product.ProductCode">
        <div class="col-md-6">
            <label for="ProductName">Mã hàng:</label>
            <input type="text" class="form-control" value="@product.ProductCode" disabled>
        </div>
        <div class="col-md-6">
            <label for="ProductName">Tên hàng:</label>
            <input type="text" id="ProductName" name="ProductName" class="form-control" value="@product.ProductName">
        </div>
        <div class="col-md-6">
            <label for="ProductExpiredAt">Hạng dùng:</label>
            <input type="date" id="ProductExpiredAt" name="ProductExpiredAt" class="form-control" value="@product.ProductExpiredAt.ToString("yyyy-MM-dd")">
        </div>
        <div class="col-md-6">
            <label for="ProductCompany">Công ty sản xuất:</label>
            <input type="text" id="ProductCompany" name="ProductCompany" class="form-control" value="@product.ProductCompany">
        </div>
        <div class="col-md-6">
            <label for="ProductProductionDate">Ngày sản xuất:</label>
            <input type="date" id="ProductProductionDate" name="ProductProductionDate" class="form-control" value="@product.ProductProductionDate.ToString("yyyy-MM-dd")">
        </div>
        <div class="col-md-6">
            <label for="ProductCategory">Loại hàng:</label>
            <select id="ProductCategory" name="ProductCategory" class="form-control" asp-for="@product.ProductCategory">
                <option >Vui lòng chọn ...</option>
                @foreach (var cat in categories)
                {
                    <option value="@cat.CategoryCode">@cat.CategoryName</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="ProductPrice">Giá:</label>
            <input type="number" id="ProductPrice" name="ProductPrice" class="form-control" value="@product.ProductPrice" min="0" max="10000000">
        </div>

        <div class="mt-3 col-md-12">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </div>
    </form>
}