@{
    ViewData["Title"] = "Sửa mặt hàng";
    Product product = ViewBag.product;
}
<h1>@ViewData["Title"]</h1>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>

@if (product == null)
{
    <p>Mặt hàng không tồn taị </p>
}
else
{
    <form class="row" method="post" action="EditProduct?productCode=@product.productCode">
        <div class="col-md-6">
            <label for="productName" class="form-label">Mã hàng:</label>
            <input type="text" class="form-control" value="@product.productCode" disabled>
        </div>
        <div class="col-md-6">
            <label for="productName" class="form-label">Tên hàng:</label>
            <input type="text" id="productName" name="productName" class="form-control" value="@product.productName">
        </div>
        <div class="col-md-6">
            <label for="productExpiredAt" class="form-label">Hạng dùng:</label>
            <input type="date" id="productExpiredAt" name="productExpiredAt" class="form-control" value="@product.productExpiredAt">
        </div>
        <div class="col-md-6">
            <label for="productCompany">Công ty sản xuất:</label>
            <input type="text" id="productCompany" name="productCompany" class="form-control" value="@product.productCompany">
        </div>
        <div class="col-md-6">
            <label for="productProductionDate">Ngày sản xuất:</label>
            <input type="date" id="productProductionDate" name="productProductionDate" class="form-control" value="@product.productProductionDate">
        </div>
        <div class="col-md-6">
            <label for="productCategory">Loại hàng:</label>
            <input type="text" id="productCategory" name="productCategory" class="form-control" value="@product.productCategory">
        </div>
        <div class="col-md-6">
            <label for="productPrice">Giá:</label>
            <input type="number" id="productPrice" name="productPrice" class="form-control" value="@product.productPrice">
        </div>
        <div class="col-md-6">
            <label for="productQuantity">Số lượng mặt hàng:</label>
            <input type="number" id="productQuantity" name="productQuantity" class="form-control" value="@product.productQuantity">
        </div>

        <div class="mt-3 col-md-12">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </div>
    </form>
}

