@{
    ViewData["Title"] = "Danh sách mặt hàng";
}


<h1>@ViewData["Title"]</h1>
<form method="post" action="Product/SearchProduct">
    <input type="text" id="searchText" name="searchText" placeholder="Tìm mã hàng, mặt hàng ...">
    <input class="my-btn" type="submit" value="Tìm">
</form>
<h2>Tổng cộng: @ViewBag.ProductList.Length</h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

</style>

<a href="/Product/CreateProduct"><button class="my-btn">Thêm mới mặt hàng</button></a>

<table>
    <tr>
        <th>Mã</th>
        <th>Tên hàng</th>
        <th>Hạn dùng</th>
        <th>Công ty sản xuất</th>
        <th>Ngày sản xuất</th>
        <th>Loại hàng</th>
        <th>Giá</th>
        <th>Số lượng tồn kho</th>
        <th>Hành động</th>
    </tr>
    @foreach (var item in ViewBag.ProductList)
    {
        <tr>
            <td>@item.productCode</td>
            <td>@item.productName</td>
            <td>@item.productExpiredAt</td>
            <td>@item.productCompany</td>
            <td>@item.productProductionDate</td>
            <td>@item.productCategory</td>
            <td>@item.productPrice</td>
            <td>@item.productQuantity</td>
            <td>
                <a href="/Product/EditProduct?productCode=@item.productCode"><button class="my-btn">Sửa</button></a>

                <form method="post" action="Product/DeleteProduct?productCode=@item.productCode">
                    <input class="my-btn" type="submit" value="Xóa">
                </form>
            </td>
        </tr>
    }
</table>
