@{
    ViewData["Title"] = "Danh sách loại hàng";
    string? showConfirmOnDelete = this.Context.Request.Query["confirmOnDelete"];
    string? deletedCategoryCode = this.Context.Request.Query["deletedCategoryCode"];
}

<h1>@ViewData["Title"]</h1>

@section scripts{
    <script>
        $(document).ready(function () {
            const params = new URLSearchParams(window.location.search);

            if (params.get("confirmOnDelete") == "true") {
                $("#myConfirmationModal").modal('show');
            }
        });
    </script>
    }

<form method="post" action="Category/SearchCategory">
    <div class="input-group mb-3">
        <input type="text" class="form-control" value="@ViewBag.searchText" name="searchText" placeholder="Tìm mã loại hàng, loại hàng ..." aria-label="Tìm mã loại hàng, loại hàng ..." aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Tìm</button>
    </div>
</form>

<h2>Tổng cộng: @ViewBag.totalRow</h2>

<div class="mb-3">
    <a href="/Category/CreateCategory"><button class="btn btn-primary">Thêm mới loại hàng</button></a>
</div>

@if (showConfirmOnDelete == "true")
{
    <div class="mb-3 col-md-12">
        <!-- Modal -->
        <div class="modal fade" id="myConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chú ý!!!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        Loại hàng đang được sử dụng cho các sản phẩm bên dưới...
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên hàng</th>

                                </tr>
                                @foreach (Product item in ViewBag.ProductListOnDeletedCategory)
                                {
                                    <tr>
                                        <td>@item.ProductCode</td>
                                        <td>@item.ProductName</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form class="row" method="post">
                            <button type="submit" class="btn btn-primary" formaction="Category/DeleteCategory?CategoryCode=@deletedCategoryCode&comfirmed=true">Xác nhận</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Mã</th>
            <th>Tên loại hàng</th>
            <th>Hành động</th>
        </tr>
        @foreach (var item in ViewBag.CategoryList)
        {
            <tr>
                <td>@item.CategoryCode</td>
                <td>@item.CategoryName</td>

                <td>
                    <div class="btn-group" role="group" aria-label="First group">
                        <a href="/Category/EditCategory?CategoryCode=@item.CategoryCode"><button type="button" class="btn btn-warning">Sửa</button></a>
                    </div>

                    <div class="btn-group" role="group" aria-label="Third group">
                        <form method="post" action="Category/DeleteCategory?CategoryCode=@item.CategoryCode">
                            <input class="btn btn-danger" type="submit" value="Xóa">
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
    @Html.Partial("../Shared/Panigation.cshtml")
</div>
