@{
    ViewData["Title"] = "ListGoodsReceiptBill";

}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.GoodsReceiptBillList.Length</h2>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h2>List Goods Receipt Bill</h2>
<table>
    <tr>
        <th>Mã hóa đơn</th>
        <th>Ngày tạo hóa đơn</th>
    </tr>
    @foreach (var item in ViewBag.GoodsReceiptBillList)
    {

        <tr>
            <td>@item.goodsReceiptBillCode</td>
            <td>@item.goodsReceiptBillCreateDate</td>
        </tr>
        @* <div>@item.Bar</div>*@
    }
</table>
